body {
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

body a {
  text-decoration: none;
}

main {
  flex: 1;
  min-height: 650px;
}

a h1{
  color: #ffffff;
  text-decoration: none;
}

a h1:hover{
  text-decoration: none;
}